@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
#logo {
  height: 2.8rem;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
} */
/*----------multi-level-accordian-menu------------*/
.navbar-logo {
  padding: 5px 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: black;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: white;
  text-decoration: none;
  font-size: 5 15pxpx;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: black;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
#about {
  min-height: 30vh;
  background: #020202;
  position: relative;
}
#about-content {
  text-align: justify;
  color: #fff;
  margin-top: 10rem;
}
#about-head-content {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  color: #ddc805;
  z-index: 1000;
  margin-left: 9rem;
  letter-spacing: 2.5px;
  position: relative;
}
#about-head {
  font-size: 7rem;
  font-family: "Poppins", sans-serif;
  color: #696969;
  text-align: right;
  width: 100%;
  margin-top: -5rem;
  margin-left: -2rem;
  opacity: 0.3;
}
#about_img {
  width: 17rem;
  height: 22rem;
  margin-top: -4rem;
  margin-left: 5rem !important;
  margin-bottom: 4rem !important;
  z-index: -1;
}
#about:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 4.95rem solid #020202;
  border-left: 4.95rem solid #ddc805;
  width: 0;
}
@media only screen and (max-width: 1023px) {
  #about:before {
    border: 0;
  }
}
@media only screen and (min-height: 767px) and (max-height: 861px) {
  #about-head {
    font-size: 2rem;
  }
}
.background-wrap {
  z-index: -1000;
  width: 100vw;
  height: 80vw;
  position: absolute;
}
#mentor {
  min-height: 30vh;
  background: #ddc805;
  position: relative;
}

#mentor-head {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  color: #020202;
  margin-left: 1.5rem;
  position: relative;
}
#mentor-content {
  text-align: justify;
  color: #020202;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}
#mentor_img {
  width: 13rem;
  height: 15rem;
  margin-top: 2rem;
  margin-left: 7rem;
}
.mentor_name {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  margin-left: 7rem;
  color: #020202;
}
